@model Unstop.Models.VM.JobsVM;

@{
    ViewData["Title"] = "Jobs";
}

<partial name="_CandidateHeader" />

<div class="d-flex justify-content-center align-items-center gap-3">
    <label>Page Size</label>
    <div class="d-inline-block">
        <select class="form-select shadow-none" aria-label="Default select example" onchange="seachJob(`@ViewBag.Search`, 2, `@ViewBag.SortBy`, `@ViewBag.SortOrder`, `@ViewBag.JobType`, `@ViewBag.JobTime`, `@ViewBag.WorkingDays`, `@ViewBag.JobStatus`, false, `@ViewBag.PreferredJob`, this.value)">
            <option value="2">2</option>
            <option value="5">5</option>
            <option value="10">10</option>
        </select>
    </div>
</div>

<div id="candidateJobsContainer">
    <partial name="_JobsList" />
</div>

<partial name="_Footer" />

<div id="candidateModalContainer"></div>

@section Scripts{
    <script>
        const navLinks = document.querySelectorAll('.nav-link');
        const currentNav = document.getElementById('nav-home');
        navLinks.forEach(nav => nav.classList.remove('active'));
        currentNav.classList.add('active');
    </script>
}